<%- include('../header.ejs'); -%>
  <!-- HEADER Navigation End -->

  <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
  <div class="main-content-area">

    <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7 co-xs-12 text-left">
            <h1>View Posts</h1>
          </div>
          <!-- end col -->
          <div class="col-md-6 col-sm-5 co-xs-12 text-right">
            <div class="bread">
              <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Pages</a>
                </li>
                <li class="active">View Posts</li>
              </ol>
            </div>
            <!-- end bread -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->
    <section id="blog" class="custom-padding white">
      <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Title</th>                    
                    <th class="text-center">Price</th>
                    <th class="text-center" colspan="3">Actions</th>
                </tr>
    
                <!-- Repeatable Template Row -->
    
                <% for(let i = 0; i < postsList.length; i++) { %>
                    <tr>
                        <td class="text-center"><%= postsList[i].title %></td>
                        <td class="text-center">$<%= postsList[i].price %></td>
                        <td class="text-center"><%= postsList[i].status %></td>
                        <td class="text-center"><%= postsList[i].expires_on %></td>
                        <td class="text-center">
                            <a href="/products/details/<%= postsList[i]._id %>" class="btn btn-success btn-sm"> 
                            <i class="fa fa-info"></i> </a>
                        </td>
                        <td class="text-center">
                            <!-- ------------------------- -->
                            <!-- Fix the EDIT button below -->
                            <!-- ------------------------- -->
                            <a href="/products/edit/<%= postsList[i]._id %>" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil"></i></a>
                        </td>
                        <td class="text-center">
                            <!-- --------------------------- -->
                            <!-- Fix the DELETE button below -->
                            <!-- --------------------------- -->
                            <a href="/products/delete/<%= postsList[i]._id %>" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i></a>

                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->
    
    
    <!-- =-=-=-=-=-=-= Download App =-=-=-=-=-=-= -->
		
		<!-- =-=-=-=-=-=-= Download App END =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->
   
    <!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->

  </div>
  <!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->

  <!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
  <%- include('../footer.ejs'); -%>
  <!-- =-=-=-=-=-=-= JQUERY =-=-=-=-=-=-= -->
  <script src="/js/jquery.min.js"></script>
  <!-- Bootstrap Core Css  -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Jquery Smooth Scroll  -->
  <script src="/js/jquery.smoothscroll.js"></script>
  <!-- Jquery Easing -->
  <script type="text/javascript" src="/js/easing.js"></script>
  <!-- Jquery Counter -->
  <script src="/js/jquery.countTo.js"></script>
  <!-- Jquery Waypoints -->
  <script src="/js/jquery.waypoints.js"></script>
  <!-- Jquery Appear Plugin -->
  <script src="/js/jquery.appear.min.js"></script>
  <!-- Carousel Slider  -->
  <script src="/js/carousel.min.js"></script>
  <!-- Jquery Parallex -->
  <script src="/js/jquery.stellar.min.js"></script>
  <!--Style Switcher -->
  <script src="/js/bootstrap-dropdownhover.min.js"></script>
  <!-- Include jQuery Syntax Highlighter -->
  <script type="text/javascript" src="/scripts/shCore.js"></script>
  <script type="text/javascript" src="/scripts/shBrushPhp.js"></script>
  <!-- Template Core JS -->
  <script src="/js/custom.js"></script>
  <!-- FOR THIS PAGE ONLY -->
  <script src="/js/imagesloaded.js"></script>
  <script src="/js/isotope.min.js"></script>

  <script type="text/javascript">
    (function($) {
      "use strict";
      $('#posts-masonry').imagesLoaded(function() {
        $('#posts-masonry').isotope({
          layoutMode: 'masonry',
          transitionDuration: '0.3s'
        });
      });
    })(jQuery);
  </script>
</body>


<!-- Mirrored from templates.scriptsbundle.com/knowledge/demo/how-work.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Feb 2019 12:29:44 GMT -->
</html>
